@import 'variable.scss';
.bg-default{background-color: $colorDefault;}
.footer-top-section{background: $colorDefaultLight;}
footer h4{color: $colorWhite;}
.footer-top-section .social-links{color: $colorWhite;}
.footer-top-section .social-links a{color: $colorWhite;}
.footer-top-section .nav > li > a{color: $colorWhite;}
.footer-top-section .nav > li{color: $colorWhite;}
.footer-bottom-section{background: $colorDefaultDark;}
.footer-bottom-section .nav-link{color: $colorWhite;}
.footer-bottom-section .privacy-ts-btn{color: $colorBlue;}
.footer-bottom-section .copyright{color: $colorWhite;}